#orderdisplay {background-color: #FFFFCC; }

section.section1 {background-color:skyblue; visibility:hidden; position: fixed; width: 600px;}

section.section2 {background-color:gold; visibility:hidden; position: fixed; width: 600px;}

section.section3 {background-color:skyblue; visibility:hidden; position: fixed; width: 600px;}

td {border: solid black 1pt;}

tr {border: solid black 1pt;}

th {border: solid black 1pt;}

table {border: 1px solid black;}